<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>

<body class="container">

    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <h2>Enter your new cheese:</h2>

    <form method="post" style="max-width:600px;">

<!--        The name in this input field corresponds to the fields in the Cheese for ModelAttributes to work -->
        <div class="form-group">
            <label for="cheeseName">Name of Cheese:</label>
            <input class="form-control" type="text" name="name" id="cheeseName" />
        </div>
        <div class="form-group">
            <label for="cheeseDescription">Description of Cheese:</label>
            <input class="form-control" type="text" name="description" id="cheeseDescription"/>
        </div>
        <input type="submit" value="Add Cheese" />
    </form>

</body>
</html>